/*

.intro {
  font-family: monospace;
  color: brown;
  font-size: 30px;
  border: 5px solid yellow;
}

*/

.makeBox {
  border: 3px dotted green;
}

.makeHighlight {
  background-color: yellow;
}

h2.intro {
  text-align: center;
}

p {
  font-family: monospace;
  width: 1000px;
  display: block;
  margin: auto;
  padding: 20px;
}

img {
  display: block;
  margin: auto;
}
